.boxWrap{
    display: flex;
}

/* padding은 요소를 안쪽으로 */
.box{
    background-color: green;
    width: 100px;
    height: 100px;
    padding: 10px;
}

/* margin은 요소를 바깥쪽으로 */
/* margin: 10px는 전부가 적용 */
/* margin: 10px 10px는 상하, 좌우 적용 */
/* margin: 10px 10px 10px 10px는 상, 우, 하, 좌 적용 */
/* padding도 마찬가지! */

.box2{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
}